<launch>

<include file="$(find project_robotics)/launch/gmapping.launch"/>
<param name="/use_sim_time" value="true"/>
<node pkg="tf" type="static_transform_publisher" name="base_link_laser" args="0 0 0 90 0 0 scout/base_link laser 100" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find project_robotics)/rviz/rviz_config.rviz"/>

</launch>

<!--    rosrun gmapping slam_gmapping scan:=/scan _base_frame:=/scout/base_link _odom_frame:=/scout/odom   -->
